@page
@model ListRoles2Model
<li>
    <div>
        @if (Model.Output.Any())
        {
            foreach (var role in Model.Output)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        Role
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@role.Name</h5>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No roles created yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create a role
                    </h5>
                    <a class="btn btn-primary" style="width:auto">
                        Create Role
                    </a>
                </div>
            </div>
        }
    </div>
</li>