<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Juan Pablo Lasso Blog @DateTime.Now.Year</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->